* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #FCFCFC;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 24px 16px 24px 16px;

}